# API Gateway
PORT=3000
PEDIDOS_SERVICE_URL=http://pedidos:3001
PAGAMENTOS_SERVICE_URL=http://pagamentos:3002
ESTOQUE_SERVICE_URL=http://estoque:3003
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318/v1/traces
LOG_LEVEL=info

# Pedidos
DB_HOST=postgres
DB_PORT=5432
DB_NAME=pedidos_db
DB_USER=pedidos_user
DB_PASSWORD=pedidos_pass

# Pagamentos
# DB_NAME=pagamentos_db
# DB_USER=pagamentos_user
# DB_PASSWORD=pagamentos_pass

# Estoque
# DB_NAME=estoque_db
# DB_USER=estoque_user
# DB_PASSWORD=estoque_pass
